.button {
  background: transparent;
  border: 3px solid $color-border-popup;
  border-radius: 20px;
  padding: 5px 20px;
  color: $color-text-light;
  font-size: 24px;
  font-weight: 700;

  &:hover {
    cursor: $cursor-pointer;
    border-color: $color-focus;
  }

  &_accept {
    color: $color-accept;
  }

  &_decline {
    color: $color-decline;
  }
}