.hintBtn{
   // background-image: url('./assets/controls/hint.png');
    border: 1px solid #e6b147a6;
    color: #fff;
    padding: 0 12px;
    background: #e6b147a6;
    cursor: pointer;
    position: fixed;
    right: 10px;
    top: 18%;
  
}
.hintBtn.disabled {
    background: #6b6b6aa6;
    cursor: none;
}