.move {
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    position: fixed;
    right: 0px;
    top: 0%;
    padding: 10px;
}
.move__count {
    padding: 15px;
    border-radius: 3px;
    background: #e6b147a6;
    display: inline-block;
}