.timer {
    color: #fff;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
    position: fixed;
    right: 0px;
    top: 0%;
    padding: 10px;
}

.timer-number {
    padding: 10px;
    border-radius: 3px;
    background: #a1a2326b;
    display: inline-block;
}

.timer-time {
    padding: 15px;
    border-radius: 3px;
    background: #e6b147a6;
    display: inline-block;
}

.timer-button {
    border: 1px solid #e6b147a6;
    color: #fff;
    padding: 0 12px;
    background: #e6b147a6;
    cursor: $cursor-pointer;
}

