.map {
  height: 100vh;
  background: url('./assets/backgrounds/map.png');
  background-size: cover;
  background-position-y: -100px;

  .marker {
    position: absolute;
    height: 60px;
    cursor: $cursor-pointer;
    @include animation('jump 2s infinite');
    animation-play-state: paused;

    z-index: 0;

    &.disabled {
      pointer-events: none;
      filter: grayscale(1);
    }

    &.current {
      animation-play-state: running;
    }
  }
}

@include keyframes(jump) {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px) scale(1.2);
  }
  50% {
    transform: translateY(0px) scale(1);
  }
  75% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}