* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: $cursor-default;
}

#root {
    height: 100vh;
}

canvas {
    width: 100%;
    height: 100%;
}

input, select, option {
    cursor: $cursor-pointer;
}
